services:
  - type: web
    name: covid-streamlit
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: streamlit run app.py --server.port $PORT --server.address 0.0.0.0
    autoDeploy: true
    healthCheckPath: /
    envVars:
      - key: STREAMLIT_SERVER_HEADLESS
        value: "true"
      - key: PYTHONUNBUFFERED
        value: "1"
